body, html {
  height:100%;
}
body {
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active {
  color: lightblue;
  text-decoration: none;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinky {
  border:10px solid red;
  border-radius:10px;
  position: absolute;
}
.grow {
  border-color: red;
  border-style: solid;
  /*border-radius: 20px !important;*/
  position: absolute;
}
.breakDancer {
  background-image: url(http://img3.wikia.nocookie.net/__cb20131222052849/halonocanon/es/images/2/22/Breakdance.gif);
  position: absolute;
  width: 170px;
  height: 170px;
}

.absolute {
  position: absolute;
}
